<div class="container">
    <div id="prices">
        Price
        <input type="number" id="priceMin" autocomplete="off" [value]="min" (keyup)="filterPriceUnder()" placeholder="Min">
        -
        <input type="number" id="priceMax" autocomplete="off" [value]="max" (keyup)="filterPriceAbove()" placeholder="Max">
    </div>

    @if (listTrainings) {
        <ng-container>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>DESCRIPTION</th>
                        <th>PRICE</th>
                        <th>QUANTITY</th>
                    </tr>
                </thead>
                <tbody id="course-grid">
                    @for(course of listTrainings; track course) {
                        <tr>
                            <td>{{course.id}}</td>
                            <td>{{course.name}}</td>
                            <td>{{course.description}}</td>
                            <td>{{course.price | currency: 'EUR':'symbol':'1.2-2':'fr-FR'}}</td>
                            <td><input type="number" name="quantity" style="width: 60px" min="0" [value]="1" (input)="updateQuantity(course, $event.target.value)"></td>
                            <td class="buttons text-center">
                                @if(course.quantity > 0) {
                                    <button type="button" class="btn btn-primary" (click)="onAddToCart(course)">
                                        <img src="add.png" width="20px" height="20px">
                                        Add to cart
                                    </button>
                                }
                                @else {
                                    <a class="btn btn-secondary disabled">Add to cart</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </ng-container>
    }
</div>